.header {
    overflow: hidden;
    background-color: black;
    padding: 25px 15px;
}

.header a {
    float: left;
    color: pink;
    text-align: left;
    padding: 50px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 30px;
    border-radius: 4px;
    text-decoration: beige;
}

.description {
    float: right;
    font-family: georgia;
}
